quick check on number of cemeteries etc

In [5]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx #for basemaps on the matplotlib plots
import folium
import branca
import seaborn as sns #new from w9 dataviz

In [6]:
parks = gpd.read_file('data/open_parks_d2d5.geojson')
parks.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1241 entries, 0 to 1240
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FIPS               1241 non-null   object
 1   Join_Count         1241 non-null   int64
 2   DIST_SUP           1241 non-null   int64
 3   CITY_NAME          997 non-null    object
 4   UNINCORP_NAME      272 non-null    object
 5   JURISDICTION       1241 non-null   object
 6   UNIT_ID            1241 non-null   float64
 7   PARK_NAME          1241 non-null   object
 8   ACCESS_TYP         1241 non-null   object
 9   RPT_ACRES          1241 non-null   float64
 10  GIS_ACRES          1241 non-null   float64
 11  AGNCY_NAME         1241 non-null   object
 12  AGNCY_TYP          1241 non-null   object
 13  COGP_TYP           1241 non-null   object
 14  AMEN_RPT           1240 non-null   object
 15  PRKINF_CND         1239 non-null   object
 16  AM_OPNSP           1239 non-null   object
 17  AM_TRLS            1239 non-null   object
 18  TOTAL_GOOD         1240 non-null   float64
 19  TOTAL_FAIR         1240 non-null   float64
 20  TOTAL_POOR         1240 non-null   float64
 21  RSTRM              1241 non-null   float64
 22  TYPE               1241 non-null   object
 23  CENTER_LAT         1241 non-null   float64
 24  CENTER_LON         1241 non-null   float64
 25  Shape__Area        1241 non-null   float64
 26  Shape__Length      1241 non-null   float64
 27  Score              1241 non-null   float64
 28  CEMETERY_GOLF_ETC  1241 non-null   object
 29  geometry           1241 non-null   geometry
dtypes: float64(12), geometry(1), int64(2), object(15)
memory usage: 291.0+ KB

In [7]:
counts_parks = parks.groupby(['DIST_SUP', 'CEMETERY_GOLF_ETC']).size().reset_index(name='counts')
counts_parks

   DIST_SUP CEMETERY_GOLF_ETC  counts
0         2       Golf Course       7
1         2  No Specification     393
2         2           Parkway      29
3         5          Cemetery       5
4         5       Golf Course      13
5         5  No Specification     792
6         5           Parkway       2

In [13]:
parks[(parks['DIST_SUP'] == 2) & (parks['Score'] == 1)].shape[0]

41

In [14]:
parks[(parks['DIST_SUP'] == 5) & (parks['Score'] == 1)].shape[0]

71

In [17]:
parks[(parks['DIST_SUP'] == 2) & (parks['Score'] < 1) & (parks['Score'] >= 0.5)].shape[0]

153

In [18]:
parks[(parks['DIST_SUP'] == 5) & (parks['Score'] < 1) & (parks['Score'] >= 0.5)].shape[0]

204

In [19]:
parks[(parks['DIST_SUP'] == 2) & (parks['Score'] < 0.5) & (parks['Score'] > 0)].shape[0]

42

In [20]:
parks[(parks['DIST_SUP'] ==5) & (parks['Score'] < 0.5) & (parks['Score'] > 0)].shape[0]

45

In [21]:
parks[(parks['DIST_SUP'] == 2) & (parks['Score'] == 0)].shape[0]

45

In [22]:
parks[(parks['DIST_SUP'] == 5) & (parks['Score'] == 0)].shape[0]

33

In [23]:
parks[(parks['DIST_SUP'] == 2) & (parks['Score'] == -1)].shape[0]

148

In [24]:
parks[(parks['DIST_SUP'] == 5) & (parks['Score'] == -1)].shape[0]

459